@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";
@import "footable";

//////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'mark';
    src: url(font-path('markregular-webfont.eot'));
    src: url(font-path('markregular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markregular-webfont.woff2')) format('woff2'),
         url(font-path('markregular-webfont.woff')) format('woff'),
         url(font-path('markregular-webfont.ttf')) format('truetype'),
         url(font-path('markregular-webfont.svg#markregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markregularitalic-webfont.eot'));
    src: url(font-path('markregularitalic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markregularitalic-webfont.woff2')) format('woff2'),
         url(font-path('markregularitalic-webfont.woff')) format('woff'),
         url(font-path('markregularitalic-webfont.ttf')) format('truetype'),
         url(font-path('markregularitalic-webfont.svg#markregular')) format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markbold-webfont.eot'));
    src: url(font-path('markbold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markbold-webfont.woff2')) format('woff2'),
         url(font-path('markbold-webfont.woff')) format('woff'),
         url(font-path('markbold-webfont.ttf')) format('truetype'),
         url(font-path('markbold-webfont.svg#markbold')) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markbold-italic-webfont.eot'));
    src: url(font-path('markbold-italic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markbold-italic-webfont.woff2')) format('woff2'),
         url(font-path('markbold-italic-webfont.woff')) format('woff'),
         url(font-path('markbold-italic-webfont.ttf')) format('truetype'),
         url(font-path('markbold-italic-webfont.svg#mark-bold-italicbold')) format('svg');
    font-weight: bold;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mark", $helvetica;
  margin-bottom: 0.25em;
}

body {
  margin: 0;
  font-family: "Mark", $helvetica;
  font-weight: normal;
  font-style: normal;
}

.container {
  @include outer-container;
}

.content {
  padding: 1em;
  border: 1px solid gainsboro;
  @include clearfix;
}

h2.important {
  font-size: $h1-font-size;
}

.caption {
  font-size: 0.85em;
  font-style: italic;
}

//////////////////////////////////////////////////////////////////////////////

.banner {

  $base-font-color: $dark-gray !default;
  $banner-padding: 1em;

  $banner-logo-height-mobile: 2em;
  $banner-height-mobile: 4em;
  $banner-logo-height: 3.5em;
  $banner-height: 6em;

  $banner-background: #E7F1EC;
  $banner-color: transparentize($base-font-color, 0.3);
  $banner-color-hover: $base-font-color;
  $banner-item-padding: 1em;
  $banner-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $banner-background;
  width: 100%;
  z-index: 9999;
  border: 1px solid gainsboro;

  // min-height: $banner-height-mobile;

  @include media($horizontal-bar-mode) {
    min-height: $banner-height;
  }

  a {
    border-bottom: none;
  }

  .link--highlight {
    text-decoration: underline !important;
  }

  nav {
    float: right;
  }

  .logo {
    float: left;
    padding: 0.25em;
    margin-bottom: 0;
    font-size: $banner-logo-height-mobile;

    @include media($horizontal-bar-mode) {
      font-size: $banner-logo-height;
    }
  }

  .banner-mobile-menu {
    color: $banner-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $banner-height-mobile;
    margin: 0;
    padding-right: $banner-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $banner-color-hover;
    }
  }

  // Nav menu
  .banner-wrapper {
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.banner-menu {
    -webkit-transform-style: preserve-3d;
    // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding-right: $banner-padding;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


  // The nav items
  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $banner-item-nudge;
    }
  }

  ul li.nav-link {
    background: $banner-background;
    display: block;
    // line-height: $banner-height;
    line-height: 3.5em;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $banner-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $banner-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $banner-height;
      // line-height: 3.5em;

      a {
        padding-right: $banner-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$banner-logo-height / 3;
    max-height: $banner-logo-height;
    opacity: 0.6;
  }
}

//////////////////////////////////////////////////////////////////////////////

.cards {
  @include clearfix;
}

/*h\d*/.card-section {
  margin-bottom: $base-spacing / 4;
}

.card {
  $base-border-color: #E7F1EC !default;
  $base-border-radius: 0 !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-stats-color: lighten($base-accent-color, 10%);
  $card-margin: 0em;

  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  position: relative;
  float: left;

  width: 29%;
  margin: 0 6.5% $base-spacing 0;

  @include media(min-width $large-screen) {
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(3n+1) {
      clear: both;
    }
  }

  @include media(max-width $large-screen min-width $small-screen) {
    width: 48%;
    margin-right: 4%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media(max-width $small-screen) {
    width: 100%;
    margin-right: 0;
  }

  .card-image img {
    @include transition (all 0.2s ease-in-out);
    background: $card-image-background;
    margin: ($base-spacing / 2) ($base-spacing / 2);
    max-height: 180px;
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-title {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin: 0 $base-spacing !important;
    text-align: left;
    text-transform: uppercase;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
}

@include media(min-width $small-screen) {
  .card--director {
    width: 48%;
    margin-right: 4%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////

.hero {
  width: 100%;
}

.main-col {
  float: left;
  width: 55%;
  margin-right: 5%;
}

.minor-col {
  float: right;
  width: 40%;
}

@include media(max-width $medium-screen) {
  .main-col,
  .minor-col {
    width: 100%;
    margin-right: 0;
  }
}

.title {
  margin-bottom: 0.25em;
}

.date {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.news {
  width: 60%;
  float: left;
}

.calendar {
  width: 36%;
  float: right;
}

@include media(max-width $medium-screen) {
  .calendar,
  .news {
    width: 100%;
  }
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: 1.25em;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

///////////////////////////////////////////////////////////////////////////////

.publications {

  table {
    table-layout: fixed;
  }

  tr, th, td {
    vertical-align: text-top;
  }

  th, td {
    padding: 3px;
  }

  td:nth-child(2) > p:first-child {
    font-weight: bold;
    font-style: italic;
  }

  td:nth-child(2) > p:nth-child(3) {
    font-size: 0.85em;
    font-style: italic;
  }
}

///////////////////////////////////////////////////////////////////////////////
