@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

//////////////////////////////////////////////////////////////////////////////

// String Replace

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Font Face

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

//////////////////////////////////////////////////////////////////////////////

// @include font-face("Mark", font-path("markbold-webfont"), "bold", "normal");
// @include font-face("Mark", font-path("markbold-italic-webfont"), "bold", "italic");
// @include font-face("Mark", font-path("markregular-webfont"), "normal", "normal");
// @include font-face("Mark", font-path("markregularitalic-webfont"), "normal", "italic");

@font-face {
    font-family: 'mark';
    src: url(font-path('markregular-webfont.eot'));
    src: url(font-path('markregular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markregular-webfont.woff2')) format('woff2'),
         url(font-path('markregular-webfont.woff')) format('woff'),
         url(font-path('markregular-webfont.ttf')) format('truetype'),
         url(font-path('markregular-webfont.svg#markregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markregularitalic-webfont.eot'));
    src: url(font-path('markregularitalic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markregularitalic-webfont.woff2')) format('woff2'),
         url(font-path('markregularitalic-webfont.woff')) format('woff'),
         url(font-path('markregularitalic-webfont.ttf')) format('truetype'),
         url(font-path('markregularitalic-webfont.svg#markregular')) format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markbold-webfont.eot'));
    src: url(font-path('markbold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markbold-webfont.woff2')) format('woff2'),
         url(font-path('markbold-webfont.woff')) format('woff'),
         url(font-path('markbold-webfont.ttf')) format('truetype'),
         url(font-path('markbold-webfont.svg#markbold')) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mark';
    src: url(font-path('markbold-italic-webfont.eot'));
    src: url(font-path('markbold-italic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('markbold-italic-webfont.woff2')) format('woff2'),
         url(font-path('markbold-italic-webfont.woff')) format('woff'),
         url(font-path('markbold-italic-webfont.ttf')) format('truetype'),
         url(font-path('markbold-italic-webfont.svg#mark-bold-italicbold')) format('svg');
    font-weight: bold;
    font-style: italic;
}

h1 {
  font-family: "mark", $helvetica;
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Mark", $helvetica;
  font-weight: normal;
  font-style: normal;
}

.container {
  @include outer-container;
}

//////////////////////////////////////////////////////////////////////////////

.banner {

  $base-border-radius: 3px !default;
  $base-font-color: $dark-gray !default;
  $banner-padding: 1em;
  $banner-logo-height: 2em;
  $banner-background: #E7F1EC;
  $banner-color: transparentize($base-font-color, 0.3);
  $banner-color-hover: $base-font-color;
  $banner-height: 60px;
  $banner-item-padding: 1em;
  $banner-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $banner-background;
  border-bottom: 1px solid darken($banner-background, 6%);
  min-height: $banner-height;
  width: 100%;
  z-index: 9999;

  a {
    border-bottom: none;
  }

  h1 {
    float: left;
  }

  nav {
    float: right;
  }

  // Mobile view
  .mobile-logo {
    display: inline;
    float: left;
    max-height: $banner-height;
    padding-left: $banner-padding;

    img {
      max-height: $banner-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .banner-mobile-menu {
    color: $banner-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $banner-height;
    margin: 0;
    // padding-right: $banner-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $banner-color-hover;
    }
  }

  // Nav menu
  .banner-wrapper {
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.banner-menu {
    -webkit-transform-style: preserve-3d;
    // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


  // The nav items
  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $banner-item-nudge;
    }
  }

  ul li.nav-link {
    background: $banner-background;
    display: block;
    line-height: $banner-height;
    overflow: hidden;
    // padding-right: $banner-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $banner-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $banner-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $banner-height;

      a {
        padding-right: $banner-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$banner-logo-height / 3;
    max-height: $banner-logo-height;
    opacity: 0.6;
  }
}

///////////////////////////////////////////////////////////////////////////////
