/*:root {*/
  /*--RIT_BROWN:#513127;*/
  /*--RIT_ORANGE:#F36E21;*/
  /*--DARK_GREY:#333333;*/
  /*--LIGHT_GREY:#E7E7E7;*/
  /*--CARD_GREY:#F7F7F7;*/
  /*--LEGACY_GREY:#E7F1EC;*/
/*}*/

@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #F36E21;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #d64700;
    color: white; }
  /* line 18, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.75em; }

/* line 26, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 30, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 34, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 38, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 42, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

@media (max-width: 580px) {
  /* line 47, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h1 {
    font-size: 2em; }

  /* line 51, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h2 {
    font-size: 1.75em; }

  /* line 55, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h3 {
    font-size: 1.5em; }

  /* line 59, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h4 {
    font-size: 1.25em; }

  /* line 63, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h5 {
    font-size: 1em; }

  /* line 67, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  h6 {
    font-size: 1em; } }
/* line 72, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
p { margin: 0 0 0.75em; }

/* line 76, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #F36E21;
  text-decoration: none;
  /*border-bottom: 1px solid #FF6D24;*/ }
  /* line 82, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #d64700;
    /*border-bottom: 1px solid #d64700;*/ }
  /* line 87, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #d64700;
    outline: none; }

/* line 93, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 101, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 107, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 114, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 118, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
fieldset {
  background: #E7E7E7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

/* line 16, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #F36E21;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(255, 92, 10, 0.7);
    outline: none; }

/* line 55, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/willpaul/Sites/clasp/site/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 4, /Users/willpaul/.gem/ruby/2.1.2/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /Users/willpaul/.gem/ruby/2.1.2/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: "footable";
  src: url("../fonts/footable.eot");
  src: url("../fonts/fonts/footable.eot?#iefix") format("embedded-opentype"), url("../fonts/footable.woff") format("woff"), url("../fonts/footable.ttf") format("truetype"), url("../fonts/fonts/footable.svg#footable") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "footable";
    src: url("fonts/footable.svg#footable") format("svg");
    font-weight: normal;
    font-style: normal; } }
/* line 19, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable {
  width: 100%;
  /** SORTING **/
  /** PAGINATION **/ }

/* line 25, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none; }

/* line 28, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e001"; }

/* line 31, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer; }

/* line 34, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none; }

/* line 38, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  display: inline-block;
  font-family: "footable";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888; }

/* line 51, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\e000"; }

/* line 54, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e005"; }

/* line 57, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e004"; }

/* line 60, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e003"; }

/* line 63, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e002"; }

/* line 66, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-square > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e007"; }

/* line 69, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-square > tbody > tr > td > span.footable-toggle:before {
  content: "\e006"; }

/* line 72, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-square-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e009"; }

/* line 75, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-square-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e008"; }

/* line 78, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00f"; }

/* line 81, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow > tbody > tr > td > span.footable-toggle:before {
  content: "\e011"; }

/* line 84, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-small > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e013"; }

/* line 87, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-small > tbody > tr > td > span.footable-toggle:before {
  content: "\e015"; }

/* line 90, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01b"; }

/* line 93, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e01d"; }

/* line 96, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00b"; }

/* line 99, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e00d"; }

/* line 102, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-tiny > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01f"; }

/* line 105, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-tiny > tbody > tr > td > span.footable-toggle:before {
  content: "\e021"; }

/* line 108, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-alt > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e017"; }

/* line 111, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-arrow-alt > tbody > tr > td > span.footable-toggle:before {
  content: "\e019"; }

/* line 114, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-medium > tbody > tr > td > span.footable-toggle {
  font-size: 18px; }

/* line 117, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
  font-size: 24px; }

/* line 120, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }

/* line 128, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th.footable-sortable:hover {
  cursor: pointer; }

/* line 131, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
  content: "\e013"; }

/* line 134, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
  content: "\e012"; }

/* line 137, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th > span.footable-sort-indicator {
  display: inline-block;
  font-family: "footable";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px; }

/* line 148, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > thead > tr > th > span.footable-sort-indicator:before {
  content: "\e022"; }

/* line 151, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable > tfoot .pagination {
  margin: 0; }

/* line 154, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable.no-paging .hide-if-no-paging {
  display: none; }

/* line 157, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-row-detail-inner {
  display: table; }

/* line 160, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em; }

/* line 164, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold; }

/* line 170, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em; }

/* line 175, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-row-detail-value {
  display: table-cell; }

/* line 178, /Users/willpaul/Sites/clasp/site/source/stylesheets/footable.css.scss */
.footable-odd {
  background-color: #E7E7E7; }

/*//////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: 'mark';
  src: url("../fonts/markregular-webfont.eot");
  src: url("../fonts/markregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markregular-webfont.woff2") format("woff2"), url("../fonts/markregular-webfont.woff") format("woff"), url("../fonts/markregular-webfont.ttf") format("truetype"), url("../fonts/markregular-webfont.svg#markregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mark';
  src: url("../fonts/markregularitalic-webfont.eot");
  src: url("../fonts/markregularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markregularitalic-webfont.woff2") format("woff2"), url("../fonts/markregularitalic-webfont.woff") format("woff"), url("../fonts/markregularitalic-webfont.ttf") format("truetype"), url("../fonts/markregularitalic-webfont.svg#markregular") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'mark';
  src: url("../fonts/markbold-webfont.eot");
  src: url("../fonts/markbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markbold-webfont.woff2") format("woff2"), url("../fonts/markbold-webfont.woff") format("woff"), url("../fonts/markbold-webfont.ttf") format("truetype"), url("../fonts/markbold-webfont.svg#markbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'mark';
  src: url("../fonts/markbold-italic-webfont.eot");
  src: url("../fonts/markbold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markbold-italic-webfont.woff2") format("woff2"), url("../fonts/markbold-italic-webfont.woff") format("woff"), url("../fonts/markbold-italic-webfont.ttf") format("truetype"), url("../fonts/markbold-italic-webfont.svg#mark-bold-italicbold") format("svg");
  font-weight: bold;
  font-style: italic; }
/* line 58, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mark", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-bottom: 0.25em; }

/* line 68, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
body {
  margin: 0;
  font-family: "Mark", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal; }

/* line 75, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, /Users/willpaul/.gem/ruby/2.1.2/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* line 79, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.content {
  padding: 1em;
  border: 1px solid gainsboro; }
  /* line 9, /Users/willpaul/.gem/ruby/2.1.2/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
  .content::after {
    clear: both;
    content: "";
    display: table; }

/* line 85, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
h2.important {
  font-size: 2.75em; }

/* line 89, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.caption {
  font-size: 0.85em;
  font-style: italic; }

/* line 94, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.news-articles {
  margin-bottom: 1.5em; }

/* line 97, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.js-news-links {
  font-size: .75em;
  text-decoration: underline; }

/*ul*/
/* line 102, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.bulleted {
  list-style-type: square;
  margin-left: 1.25em; }

/*//////////////////////////////////////////////////////////////////////////*/
/* line 109, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.banner {
  background-color: #E7E7E7;
  width: 100%;
  z-index: 9999;
  border: 1px solid gainsboro; }
  @media screen and (min-width: 53.75em) {
    /* line 109, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .banner {
      min-height: 7em; } }
  /* line 137, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner a {
    border-bottom: none; }
  /* line 141, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner .link--highlight {
    font-weight: bold;
    color: black !important; }
  /* line 145, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner nav {
    float: right; }
  /* line 149, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner .logo {
    float: left;
    display: inline;
    padding: 1em;
    margin-bottom: 0;
    height: 6em; }
    @media screen and (min-width: 53.75em) {
      /* line 149, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner .logo {
        height: 7em; } }
  /* line 161, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner .banner-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 6em;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 161, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner .banner-mobile-menu {
        display: none; } }
    /* line 176, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .banner .banner-mobile-menu:focus, .banner .banner-mobile-menu:hover {
      color: #333; }
  /* line 183, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner .banner-wrapper {
    position: relative;
    z-index: 999; }
    /* line 9, /Users/willpaul/.gem/ruby/2.1.2/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
    .banner .banner-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  /* line 189, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner ul.banner-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding-right: 1em;
    width: 100%;
    z-index: 99999; }
    /* line 200, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .banner ul.banner-menu.show {
      display: inline-block; }
    @media screen and (min-width: 53.75em) {
      /* line 189, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner ul.banner-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    /* line 212, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .banner .nav-link:first-child {
      margin-left: 2.2em; } }
  /* line 218, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner ul li.nav-link {
    background: #E7E7E7;
    display: block;
    line-height: 3.5em;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    /* line 228, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .banner ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      /* line 234, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner ul li.nav-link a:focus, .banner ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      /* line 218, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 7em; }
        /* line 246, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
        .banner ul li.nav-link a {
          padding-right: 1em; } }
  /* line 252, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 252, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .banner li.logo.nav-link {
        display: inline; } }
  /* line 261, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .banner .logo img {
    margin-bottom: -1.66667em;
    max-height: 5em;
    opacity: 0.6; }

/*//////////////////////////////////////////////////////////////////////////*/
/* line 9, /Users/willpaul/.gem/ruby/2.1.2/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.cards::after {
  clear: both;
  content: "";
  display: table; }

/*h\d*/
/* line 274, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.card-section {
  margin-bottom: 0.375em; }

/* line 278, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.card {
  background-color: #F7F7F7;
  border-radius: 3px;
  border: 1px solid #DDD;
  position: relative;
  float: left;
  width: 29%;
  margin: 0 6.5% 1.5em 0; }
  @media screen and (min-width: 53.75em) {
    /* line 308, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card:nth-child(3n) {
      margin-right: 0; }
    /* line 312, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card:nth-child(3n+1) {
      clear: both; } }
  @media screen and (max-width: 53.75em) and (min-width: 32.5em) {
    /* line 278, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card {
      width: 48%;
      margin-right: 4%; }
      /* line 320, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
      .card:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 32.5em) {
    /* line 278, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card {
      width: 100%;
      margin-right: 0; } }
  /* line 330, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .card .card-image img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #DDD;
    margin: 0.75em 0.75em;
    max-height: 180px; }
  /* line 337, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDD;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 0 0 0.75em; }
  /* line 347, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .card .card-title {
    /*border-bottom: 1px solid;*/
    display: inline-block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin: 0 1.5em !important;
    text-align: left;
    text-transform: uppercase; }
  /* line 358, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0 0 0.5em 1.2em; }
    /* line 363, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card .card-copy p {
      margin: 0 0 0.75em; }

@media screen and (min-width: 32.5em) {
  /* line 370, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .card--director {
    width: 48%;
    margin-right: 4%; }
    /* line 373, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
    .card--director:nth-child(2n) {
      margin-right: 0; } }
/*///////////////////////////////////////////////////////////////////////////*/
/* line 381, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.hero {
  margin-bottom: 1.5em; }

/* line 385, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.two-col {
  float: left;
  width: 50%;
  padding-bottom: 2em;
  border-bottom: 1px solid #DDD; }

/* line 390, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.main-col {
  float: left;
  width: 55%;
  margin-right: 5%; }

/* line 396, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.minor-col {
  float: right;
  width: 40%; }

/* line 401, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.mobile-block {
  display: none;
  visibility: hidden; }

@media screen and (max-width: 40em) {
  /* line 407, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .main-col,
  .minor-col {
    width: 100%;
    margin-right: 0; }

  /* line 413, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .mobile-block {
    display: block;
    visibility: visible; } }
/* line 419, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.title {
  font-size: 18px;
  margin-bottom: 0.25em; }

/* line 424, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.date {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase; }

/* line 434, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.news {
  width: 60%;
  float: left; }

/* line 439, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.calendar {
  width: 36%;
  float: right; }

@media screen and (max-width: 40em) {
  /* line 445, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
  .calendar,
  .news {
    width: 100%; } }
/* line 451, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: 1.25em;
  height: 0;
  overflow: hidden; }

/* line 460, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*///////////////////////////////////////////////////////////////////////////*/
/* line 474, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.publications table {
  table-layout: fixed; }
/* line 478, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.publications tr, .publications th {
  vertical-align: text-top; }
/* line 482, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.publications th, .publications td {
  padding: 3px; }
/* line 486, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.publications td:nth-child(2) > p {
  margin-bottom: 0 !important;
}
.publications td:nth-child(3) > p:first-child {
  font-weight: bold;
  font-style: italic; }
/* line 491, /Users/willpaul/Sites/clasp/site/source/stylesheets/all.css.scss */
.publications td:nth-child(3) > p:nth-child(3) {
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .publications td:nth-child(3) > div {
    text-align: center;
    padding-top: 1em;
  }
  .publications td:nth-child(3) > div > p { display: inline-block; }
  .publications td:nth-child(2) > p { display: none; }
}

@media (min-width: 701px) {
  .publications td:nth-child(3) > div > p { display: none; }

  .publications td:nth-child(2) > p:nth-child(1) { display: inline; }
  .publications td:nth-child(2) > p:nth-child(2) { display: inline; }
}

.publications td:nth-child(4) > p.tag {
  border: 2px solid #333333;
  /*background-color: #F36E21;*/
  border-radius: 15px;
  text-align: left;
  margin-bottom: 1px;
  margin-top: 1px;
  font-weight: bold;
  font-size: 15px;
  padding-left: 0.5em;
  color: #333333;
}

.publications td:nth-child(4) > p.tag:hover {
  background-color: #333333;
  color: #E7E7E7;
}

.publications td:nth-child(4) > p.tag:before {
  width: 1.28571429em;
  font-family: 'FontAwesome';
  font-weight: normal !important;
}

.publications td:nth-child(4) > p.tag.tag-medical:before {
  content: "\f21e";  
}

.publications td:nth-child(4) > p.tag.tag-semantics:before {
  content: "\f12e";
}

.publications td:nth-child(4) > p.tag.tag-software:before {
  content: "\f120";
}

.publications td:nth-child(4) > p.tag.tag-discourse:before {
  content: "\f086";
}

.publications td:nth-child(4) > p.tag.tag-cybersecurity:before {
  content: "\f023";
  /*font-size: 14px !important;*/
}

.publications td:nth-child(4) > p.tag.tag-imageprocessing:before {
  content: "\f030";
}

.publications td:nth-child(4) > p.tag.tag-affect:before {
  content: "\f118";
}

.publications td:nth-child(4) > p.tag.tag-socialmedia:before {
  content: "\f292";
}

.publications td:nth-child(4) > p.tag.tag-eyetracking:before {
  content: "\f06e";
}

.publications td:nth-child(4) > p.tag.tag-psycholinguistics:before {
  content: "\f1b3";
}

.publications td:nth-child(4) > p.tag.tag-speech:before {
  content: "\f0a1";
}

.publications td:nth-child(4) > p.tag.tag-multimodal:before {
  content: "\f03d";
}

.publications td:nth-child(4) > p.tag.tag-annotation:before {
  content: "\f040";
}

.publications td:nth-child(4) > p.tag.tag-narratives:before {
  content: "\f0f6";
}

.publications td:nth-child(4) > p.tag.tag-literature:before {
  content: "\f02d";
}

.publications td:nth-child(4) > p.tag.tag-teaching:before {
  content: "\f19d";
}

.publications td:nth-child(4) > p.tag.tag-visualization:before {
  content: "\f200";
}

.publication td:nth-child(3) {}

.publications > tbody > tr > td > p > a {
  text-decoration: none !important;
}

p.bibtex > a {
  text-decoration: none !important;
}

p.bibtex.bibtex-small {
  font-size: 8px !important;
}

td.year {
  font-weight: bold;
  vertical-align: text-top;
}

/*///////////////////////////////////////////////////////////////////////////*/
