---
title: "CLASP: Contact"
page: contact
---

  <%= partial "header" %>

  <div class="content">
    <h1>Contact</h1>

    <section class="two-col">
      <h5>Cecilia Ovesdotter Alm</h5>
      <em>Office:</em> Liberal Arts Building 2110 <br/>
      <em>Phone:</em> (585) 475-7327 <br/>
      <em>Email:</em> <a href="mailto:coagla@rit.edu">coagla@rit.edu</a> <br/>
    </section>

    <section class="two-col">
      <h5>Emily Prud'hommeaux</h5>
      <em>Office:</em> Liberal Arts Building 1317 <br/>
      <em>Phone:</em> (585) 475-4052 <br/>
      <em>Email:</em> <a href="mailto:emilypx@rit.edu">emilypx@rit.edu</a> <br/>
    </section>
  </div>
