---
title: "CLASP: Home"
page: home
---

<%= partial "header" %>

<div class="content">

  <section class="hero">
    <h2>The Computational Linguistics and Speech Processing Lab at RIT.</h2>
  </section>

  <section class="main-col">
    <%= image_tag "group.jpg", width: '100%' %>

    <p class="caption">
    From right to left: Joseph Bullard, Tong Liu, Nicolas Schrading, Will Paul, Ravdeep Johar, Dan Lavoie (back), Preethi Vaidyanathan (front), Cecila Ovesdotter Alm. Not pictured: Emily Prud'hommeaux.
    </p>

    <hr>

    <h2>About</h2>

    <p><%= lorem.paragraph %></p>

    <p><%= lorem.paragraph %></p>
  </section>

  <section class="minor-col">

    <h1>News</h1>

    <article id="js-news">
    </article>

    <p><a href="news.html">Read more &raquo;</a></p>

  </section>
</div>
