---
title: "CLASP: Home"
page: home
---

<%= partial "header" %>

  <div class="content">

    <section class="hero">
      <h2>The Computational Linguistics and Speech Processing Lab at RIT.</h2>
    </section>

    <section class="main-col">
      <%= image_tag "group_ps.jpg", width: '100%' %>

      <p class="caption">
      From left to right: Joe Bullard, Tong Liu, Nick Schrading, Will Paul, Ravdeep Johar, Dan Lavoie (back), Preethi Vaidyanathan (front), Cissi Ovesdotter Alm, and Emily Prud'hommeaux.
      </p>

      <hr>

      <h2>About</h2>

      <p>The Computational Linguistics and Speech Processing (CLASP) lab at RIT is dedicated to advancing applied and theoretical research involving text, speech, and multimodal data. The lab focuses on clinical, interactive, and social media problems, and we collaborate closely with other research groups on campus. Recently graduated former students have gone on to jobs in software and user interface development, game development, human factors, freelancing, etc., including employers such as  Qualcomm, Thompson Reuters, Silicon Studio (Japan), UL-Wiklund, SpaceX, Athena Health, Kensho, and Pronology. We welcome curious and engaged RIT/NTID students from different disciplines to join us. For more information, please contact the Co-Directors.</p>

    </section>

    <section class="minor-col">
      <hr class="mobile-block">

      <h2>News</h2>

      <article id="js-news">
      </article>

      <p><a href="news.html">Read more &raquo;</a></p>

    </section>
  </div>
