---
title: "CLASP: News"
page: news
---

<%= partial "header" %>

  <div class="content">

    <section class="news">
      <h1>News</h1>

      <article id="article-6">
        <p class="date">02-21-2015</p>
        <h2 class="title">
          Nick Schrading is the first author of a paper accepted to NAACL 2015
        </h2>
        <p>
          Schrading, N., et al. (Forthcoming). #WhyIStayed, #WhyILeft: Microblogging to make sense of domestic abuse. Proceedings of 2015 Conference of the North American Chapter of the Association for Computational Linguistics – Human Language Technologies (NAACL HLT 2015). Accepted.
        </p>
        <p>
          <a href="http://naacl.org/naacl-hlt-2015/papers.html">Link to accepted papers.</a>
        </p>
      </article>

      <hr>

      <article id="article-5">
        <p class="date">02-10-2015</p>
        <h2 class="title">
          Preethi Vaidyanathan is the first author of a paper accepted to IWCS 2015
        </h2>
        <p>
          Vaidyanathan, P., et al. (Forthcoming). Alignment of eye movements and spoken language for semantic image understanding. International Conference of Computational Semantics 2015. Accepted.
        </p>
        <p>
          <a href="http://iwcs2015.github.io/accepted-papers.html">Link to accepted papers.</a>
        </p>
      </article>

      <hr>

      <article id="article-4">
        <p class="date">02-10-2015</p>
        <h2 class="title">
          Cissi Alm is a collaborator on a tutorial accepted for EMNLP 2015
        </h2>
        <p>

        </p>
         Computational Analysis of Affect and Emotion in Language. Saif Mohammad and Cecilia O. Alm.
        <p>
          <a href="https://emnlp2015-website.herokuapp.com/tutorials.html">Link to accepted tutorials.</a>
        </p>
      </article>

      <hr>

      <article id="article-3">
        <p class="date">01-31-2015</p>
        <h2 class="title">
          Cissi Alm gave a talk on  "Language and multimodal meaning" to researchers at Xerox PARC, Rochester, on January 31.
        </h2>
      </article>

      <hr>

      <article id="article-2">
        <p class="date">01-30-2015</p>
        <h2 class="title">
          Prud'hommeaux and Alm have been awarded a joint CLA-PDP grant
        </h2>
        <p>
          Prud'hommeaux and Alm have been awarded a joint CLA-PDP grant for <em>"Computational analysis of trajectories of linguistic development in autism"</em>
        </p>
      </article>

      <hr>

      <article id="article-1">
        <p class="date">01-30-2015</p>
        <h2 class="title">
          Joseph Bullard presented a paper at the Informs Computing Society Conference in January 2015
        </h2>
        <p>
          Joseph Bullard presented a paper at the Informs Computing Society Conference in January 2015. Full reference: Bullard, J. et al. (January, 2015). Inference from structured and unstructured electronic medical data for early dementia detection. INFORMS Computing Society Conference 2015.
        </p>
      </article>
    </section>

    <section class="calendar">
      <hr class="mobile-block">

      <h1>Events</h1>
      <div class="iframe-container">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=g.rit.edu_aoem6sdcvnkmouv70abg7k89m8%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0" frameborder="0" scrolling="no"></iframe>
      </div>
    </section>
  </div>
