---
title: "CLASP: News"
page: news
---

<%= partial "header" %>

  <div class="content">

    <section class="news">
      <h1>News</h1>

      <article id="article-13">
        <p class="date">05-23-2015</p>
        <h3 class="title">
          Congratluations to our 2015 graduates: Ben Cohen (BS, Computer Science), Dan Lavoie (BS, Software Engineering), Doug Dlutz (BS, Computer Science), Joe Bullard (MS, Computer Science), and Nick Schrading (BS/MS Computer Engineering)!
        </h3>
        <!-- <p> -->
        <!--   COLA Sponsored Research Services, Building Collaborative Networks grant: Investigating the cross&#45;linguistic validity of speech and language markers for Alzheimer's disease. -->
        <!-- </p> -->
      </article>

      <hr>

      <article id="article-12">
        <p class="date">05-07-2015</p>
        <h3 class="title">
          Cissi Alm is a collaborator on a chapter: "On utilizing nonstandard abbreviations and lexicon to infer demographic attributes of Twitter users" in <em>Advances in Intelligent Systems and Computing, Vol. 346: Formalism for Reuse and Systems Integration</em>.
        </h3>
        <p>
          Moseley, N., Alm, C. O., &amp; Rege, M. (2015). On utilizing nonstandard abbreviations and lexicon to infer demographic attributes of Twitter users. In Advances in Intelligent Systems and Computing, Vol. 346: Formalism for Reuse and Systems Integration (pp. 257-278). Heidelberg, New York: Springer.
        </p>
      </article>

      <hr>

      <article id="article-11">
        <p class="date">05-04-2015</p>
        <h3 class="title">
          Emily Prud'hommeaux is first author on a paper to appear in <em>Computational Linguistics.</em>
        </h3>
        <p>
          Prud'hommeaux, E. and Roark, B. (Forthcoming). Graph-based word alignment for clinical language evaluation. To appear in <em>Computational Linguistics.</em>
        </p>
      </article>

      <hr>

      <article id="article-10">
        <p class="date">05-03-2015</p>
        <h3 class="title">
          The Rigatoni team (with Dan Lavoie, Mike Wideman, Kristen Mills, and Peter Mikitsh) have presented their senior project Linguine: A Web Application for Linguistic Analysis
        </h3>
        <!-- <p> -->
        <!--   The Rigatoni team (with Dan Lavoie, Mike Wideman, Kristen Mills, and Peter Mikitsh) have presented their senior project Linguine: A Web Application for Linguistic Analysis -->
        <!-- </p> -->
      </article>

      <hr>

      <article id="article-9">
        <p class="date">04-15-2015</p>
        <h3 class="title">
          Emily Prud'hommeaux has been awarded a CLA-BCN grant.
        </h3>
        <p>
          COLA Sponsored Research Services, Building Collaborative Networks grant: Investigating the cross-linguistic validity of speech and language markers for Alzheimer's disease.
        </p>
      </article>

      <hr>


      <article id="article-8">
        <p class="date">04-15-2015</p>
        <h3 class="title">
          Emily Prud'hommeaux has been awarded OVPR BootCamp Seed Funding.
        </h3>
        <p>
          RIT Sponsored Research Services OVPR BootCamp Seed Funding Award: Automated language analysis for dementia screening.
        </p>
      </article>

      <hr>

      <article id="article-7">
        <p class="date">03-29-2015</p>
        <h3 class="title">
          Cissi Alm is the Co-PI on an RIT subaward of a grant from AFSP.
        </h3>
        <p>
          Subward PI: C. Homan/Co-PI: C. O. Alm. Using text messages to predict depression and suicidal behavior among LGBT individuals. Main PI: M. Lytle. American Foundation for Suicide Prevention (AFSP)/University of Rochester - HE (UofR).
        </p>
      </article>

      <hr>

      <article id="article-6">
        <p class="date">02-21-2015</p>
        <h3 class="title">
          Nick Schrading is the first author of a paper accepted to NAACL 2015
        </h3>
        <p>
          Schrading, N., et al. (Forthcoming). #WhyIStayed, #WhyILeft: Microblogging to make sense of domestic abuse. Proceedings of 2015 Conference of the North American Chapter of the Association for Computational Linguistics – Human Language Technologies (NAACL HLT 2015). Accepted.
        </p>
        <p>
          <a href="http://naacl.org/naacl-hlt-2015/papers.html">Link to accepted papers.</a>
        </p>
      </article>

      <hr>

      <article id="article-5">
        <p class="date">02-10-2015</p>
        <h3 class="title">
          Preethi Vaidyanathan is the first author of a paper accepted to IWCS 2015
        </h3>
        <p>
          Vaidyanathan, P., et al. (Forthcoming). Alignment of eye movements and spoken language for semantic image understanding. International Conference of Computational Semantics 2015. Accepted.
        </p>
        <p>
          <a href="http://iwcs2015.github.io/accepted-papers.html">Link to accepted papers.</a>
        </p>
      </article>

      <hr>

      <article id="article-4">
        <p class="date">02-10-2015</p>
        <h3 class="title">
          Cissi Alm is a collaborator on a tutorial accepted for EMNLP 2015
        </h3>
        <p>
         Computational Analysis of Affect and Emotion in Language. Saif Mohammad and Cecilia O. Alm.
        </p>
        <p>
          <a href="https://emnlp2015-website.herokuapp.com/tutorials.html">Link to accepted tutorials.</a>
        </p>
      </article>

      <hr>

      <article id="article-3">
        <p class="date">01-31-2015</p>
        <h3 class="title">
          Cissi Alm gave a talk on  "Language and multimodal meaning" to researchers at Xerox PARC, Rochester, on January 31.
        </h3>
      </article>

      <hr>

      <article id="article-2">
        <p class="date">01-30-2015</p>
        <h3 class="title">
          Prud'hommeaux and Alm have been awarded a joint CLA-PDP grant
        </h3>
        <p>
          Prud'hommeaux and Alm have been awarded a joint CLA-PDP grant for <em>"Computational analysis of trajectories of linguistic development in autism"</em>
        </p>
      </article>

      <hr>

      <article id="article-1">
        <p class="date">01-30-2015</p>
        <h3 class="title">
          Joseph Bullard presented a paper at the Informs Computing Society Conference in January 2015
        </h3>
        <p>
          Joseph Bullard presented a paper at the Informs Computing Society Conference in January 2015. Full reference: Bullard, J. et al. (January, 2015). Inference from structured and unstructured electronic medical data for early dementia detection. INFORMS Computing Society Conference 2015.
        </p>
      </article>
    </section>

    <section class="calendar">
      <hr class="mobile-block">

      <h1>Events</h1>
      <div class="iframe-container">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=g.rit.edu_aoem6sdcvnkmouv70abg7k89m8%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0" frameborder="0" scrolling="no"></iframe>
      </div>
    </section>
  </div>
