---
title: "CLASP: Publications"
page: publications
---

<%= partial "header" %>

<div class="content">

<table class="publications" id="js-publications">
  <thead>
    <tr>
      <th>Year</th>
      <th>Publication</th>
      <th>Topics</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>2014</td>
      <td>
      <p>Computational analysis of trajectories of linguistic development in autism.</p>
      <p><b>Emily Prud'hommeaux</b>, Eric Morley, Masoud Rouhizadeh, Laura Silverman, Jan van Santen, Brian Roark, Richard Sproat, Sarah Kauper, and Rachel DeLaHunta.</p>
      <p>To be presented at the IEEE Spoken Language Technology Workshop (SLT), Lake Tahoe.</p>
      </td>
      <td><span>Speech</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p>Investigation of MT-based ASR Confusion Models for Semi-Supervised Discriminative Language Modeling.</p>
      <p>Erinç Dikici, <b>Emily Prud’hommeaux</b>, Brian Roark, Murat Saraçlar.</p>
      <p>In Proceedings of the 13th Annual Conference of the International Speech Communication Association (Interspeech).</p>
      </td>
      <td><span>Speech</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p>Distributional semantic models for the evaluation of disordered language.</p>
      <p>Masoud Rouhizadeh, <b>Emily Prud'hommeaux</b>, Brian Roark and Jan van Santen.</p>
      <p>In Proceedings of the Human Language Technology Conference of the North American Chapter of the Association for Computational Linguistics (NAACL-HLT).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p>Discriminative joint modeling of lexical variation and acoustic confusion for automated narrative retelling assessment.</p>
      <p>Maider Lehr, Izhak Shafran, <b>Emily Prud'hommeaux</b> and Brian Roark.</p>
      <p>In Proceedings of the Human Language Technology Conference of the North American Chapter of the Association for Computational Linguistics (NAACL-HLT).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p>Title of the article</p>
      <p>Author, Author, &amp; Author</p>
      <p>Publication</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p>Title of the article</p>
      <p>Author, Author, &amp; Author</p>
      <p>Publication</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>
  </tbody>
</table>
</div>
