---
title: "CLASP: Publications"
page: publications
---

<%= partial "header" %>

<div class="content">

<input type="text" placeholder="Filter by term, e.g. semantics or IEEE..." class="filter" id="js-text-filter">

<table class="publications toggle-arrow-tiny" id="js-publications" data-filter="#js-text-filter">
  <col width="10%" />
  <col width="70%" />
  <col width="20%" />

  <thead>
    <tr>
      <th data-hide="phone">Year</th>
      <th data-toggle="true">Publication</th>
      <th data-hide="phone">Topic(s)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>2014</td>
      <td>
      <p><a href="#">
        Computational analysis of trajectories of linguistic development in autism.
      </a></p>
      <p>
      <b>Emily Prud'hommeaux</b>, Eric Morley, Masoud Rouhizadeh, Laura Silverman, Jan van Santen, Brian Roark, Richard Sproat, Sarah Kauper, and Rachel DeLaHunta.
      </p>
      <p>To be presented at the IEEE Spoken Language Technology Workshop (SLT), Lake Tahoe.</p>
      </td>
      <td><span>Speech</span></td>
    </tr>

    <tr>
      <td>2013</td>
      <td>
      <p><a href="#">
        Investigation of MT-based ASR Confusion Models for Semi-Supervised Discriminative Language Modeling.
      </a></p>
      <p>Erinç Dikici, <b>Emily Prud’hommeaux</b>, Brian Roark, Murat Saraçlar.</p>
      <p>In Proceedings of the 13th Annual Conference of the International Speech Communication Association (Interspeech).</p>
      </td>
      <td><span>Speech</span></td>
    </tr>

    <tr>
      <td>2013</td>
      <td>
      <p><a href="#">
        Distributional semantic models for the evaluation of disordered language.
      </a></p>
      <p>Masoud Rouhizadeh, <b>Emily Prud'hommeaux</b>, Brian Roark and Jan van Santen.</p>
      <p>In Proceedings of the Human Language Technology Conference of the North American Chapter of the Association for Computational Linguistics (NAACL-HLT).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2013</td>
      <td>
      <p><a href="#">
        Discriminative joint modeling of lexical variation and acoustic confusion for automated narrative retelling assessment.
      </a></p>
      <p>Maider Lehr, Izhak Shafran, <b>Emily Prud'hommeaux</b>, and Brian Roark.</p>
      <p>In Proceedings of the Human Language Technology Conference of the North American Chapter of the Association for Computational Linguistics (NAACL-HLT).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p><a href="#">
        Inference from structured and unstructured electronic medical data for early dementia detection.
      </a></p>
      <p><b>Joseph Bullard</b>, et al.</p>
      <p>ICS 2015. Accepted.</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p><a href="#">
        Towards multimodal modeling of physicians' diagnostic confidence and self-awareness using medical narratives.
      </a></p>
      <p><b>Joseph Bullard</b>, et al.</p>
      <p>Proceedings of COLING 2014, the 25th International Conference on Computational Linguistics: Technical Papers, Dublin, Ireland. (pp. 1718-1727)</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p><a href="#">
        Toward inferring the age of Twitter users from their use of nonstandard abbreviations and lexicon.
      </a></p>
      <p>Moseley, N., <b>Alm, C. O.</b>, and Rege, M.</p>
      <p>Proceedings of IRI 2014 (pp. 219-226).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>

    <tr>
      <td>2014</td>
      <td>
      <p><a href="#">
        User-annotated microtext data for modeling and analyzing sociolinguistic characteristics and age grading.
      </a></p>
      <p>Moseley, N., <b>Alm, C. O.</b>, and Rege, M.</p>
      <p>Proceedings of IEEE Eighth International Conference on Research Challenges in Information Science, Marrakesh, Morocco. (pp 221-226).</p>
      </td>
      <td><span>Semantics</span></td>
    </tr>
  </tbody>
</table>
</div>
